<% provide(:button_name, 'Save changes') %>

<h1>Editing Info</h1>
<div class="row">
	<div class="span5 offset6">
		<%= render 'form' %>
		<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
	</div>
</div>

